@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  
}

header {
  background-color: #1a202c;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

footer {
  background-color: #1a202c;
  color: white;
  position: relative; /* Changez de fixed à relative */
  width: 100%;
  z-index: 1000; /* Assurez-vous que le footer est au-dessus des autres éléments */
  padding: 1rem 0; /* Ajoutez du padding pour le style */
  text-align: center; /* Centrez le contenu du footer */
}

a {
  color: #3182ce;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
